// version mobile 
$main: #9356DC; 
$second: #FF79DA; 
$stress: #99E2D0;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Shrikhand&display=swap');

$bs-step: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$bs-top:rgba(0, 0, 0, 0.24) 0px 3px 8px;
$bs: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;

body{ font-family:'Roboto', sans-serif; }
h1, h2, h3, h4, h5{ font-family: 'Shrikhand', cursive;}
a:visited{ text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }
a{ text-decoration: none;}
body{ margin: 0 !important;}
header{ 
    width: 100%;
    background-color: white;
    box-shadow: $bs-top;
    z-index: 50;
    position: relative;
}
.wrapper--title{ padding: 0 1.5rem; }

.wrapper-header{
    display: flex;
    padding: 1.5rem 0;
    margin-inline: 1em;
    .previous-nav{ 
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }
    img{ width:50%; margin: auto;}
 }

 .wrapper-subheader{ 
    background-color:rgba(221, 221, 221, 0.58); justify-content: center; display: flex;
 }
 .wrapper-subheader--location{ display: flex;  align-items: center;width:fit-content;
    i{ height: fit-content; margin-right: 1rem;}
}

.wrapper-explore{ 
    background-color:rgba(241, 240, 240, 0.57);
     text-align: center;
    .wrapper-explore--text{ color: gray; }
    .wrapper-button-cta{ padding-bottom:2rem; }
}

.wrapper-button-cta{ 
    display: flex;
    justify-content: center;
    button{ 
        box-shadow:$bs;
        cursor:pointer;
}}

.button-cta{ 
    width: auto;
    background: linear-gradient(344deg, rgba(2,0,36,1) 0%, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
    border:none;
    color: white;
    border-radius: 25px;
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
}

.wrapper-fonctionnement{ 
    padding: 1rem 0;
    .wrapper-step{
        background-color: rgba(240, 240, 240, 0.34);
        box-shadow: $bs-step;
        border-radius: 20px;
        margin-bottom: 1rem;
        &:hover{ 
            background-color:#9256dc33 ;
            .step-icon i{ color: $main}
        }
    }
    .wrapper-step--card{ 
        display: flex; 
        align-items: center;
        padding: 1.25rem 0; 
        div{ 
            margin-left: 2rem;
        }
        .step-icon{ 
            width: 10%;
            justify-content: center;
            display: flex;
        }
        .step-icon i{ 
            font-size: 1.75rem; 
            color: #888;  

        }
        .step-number{ 
            background-color:$main; 
            border-radius:50%; 
            padding: 0.25rem 0.5rem;
            color: white;
            position: absolute; 
            left: -0.6rem;
        }
        .step-text{ justify-content: center; width: auto; font-weight: 600; }
      
}
}

.p2-0{ padding: 0 2rem; }
.p0-2{ padding: 2rem 0; }
.p2{ padding: 2rem;}

.wrapper-restaurant{ background-color: rgba(240, 240, 240, 0.53);}

.wrapper-card{ 

    margin-bottom: 2rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: $bs;
    .wrapper-card--img{ 
        overflow: hidden;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        display: flex;
        .tag-new{ position: absolute; right: 4rem; 
            p{ 
                background-color: #99E2D0; padding: 0.5em; border-radius: 5px; color: #0e6350; font-weight: 600;
            }
        }
        img{ 
            position:relative;
            width: 100%; 
            height: fit-content; 
            border-top-right-radius: 20px; 
            border-top-left-radius: 20px;
            width: 100%;
            height: 180px;
            object-fit: cover;
            transform: scale(1); 
            transition: transform 0.5s ease-out 0.5s;
        }
    } 
    .wrapper-card--content-text{ 
        display: flex;
    }
    .wrapper-card--text{ 
        width: 80%;
        padding-left: 1rem;
        .card-title{ h3{ margin-top: 1rem; margin-bottom: 0.2rem;} }
        .card-excerpt{  p{ margin-top: 0rem; } }
    }
    .wrapper-card--logo{ i { margin-top: 1rem; padding: 0.2rem; font-size: 2rem; } }

    &:hover{ 
        .wrapper-card--img{ 
            overflow: hidden;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
        }
        .wrapper-card--img img{ 
            transform: scale(1.05); 
            transition: transform 0.5s ease-in;
        }
    }

}

.wrapper-footer{ 
    background-color: rgb(71, 71, 71);   
    .wrapper-footer-logo{ 
        padding-bottom: 1rem;
        .logo-footer{ width: 150px; }
    }
    .wrapper-footer-link{ 
        color: white;
    }
    .footer-link{ 
        display: flex;
        i{ height: fit-content; margin-top:1.1rem; margin-right: 0.75rem;}
        p{ margin-bottom: 0; }
    }
    
}
@import "./styles/restaurant.scss";

