// version mobile 
$main: #9356DC; 
$second: #FF79DA; 
$stress: #99E2D0;

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Shrikhand&display=swap');

h1, h2, h3, h4, h5{ font-family: 'Shrikhand', cursive;}
body{ font-family:'Roboto', sans-serif; }

body{ margin: 0 !important;}
header{ 
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 1px -2px rgb(165, 165, 165) !important;
    z-index: 50;
    position: relative;
}
.wrapper-header{
    display: flex;
    padding-bottom: 0.75rem;
    margin-inline: 1em;
    .previous-nav{ height: fit-content;}
    img{ width:50%; margin: auto; padding-top: 1rem;}
 }


 .wrapper-subheader--location{ display: flex; background-color: rgb(221, 221, 221); z-index: -1; justify-content: center; 
    i{ height: fit-content;}
}

.wrapper-explore{ 
    background-color:rgb(241, 240, 240);
    padding-top: 2rem; padding-bottom: 2rem;padding-right: 3rem; padding-left:3rem;
    text-align: center;
    .wrapper-explore--text{ color: gray; }
    .wrapper-explore--cta button{ background: linear-gradient(344deg, rgba(2,0,36,1) 0%, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%) !important;
    padding: 0.75rem; border:none;color: white; border-radius: 20px; font-weight: 600;;
    }
}

.wrapper-fonctionnement{ padding: 1rem;
    .wrapper-step{ background-color: rgb(240, 240, 240);box-shadow: 0 4px 1px -2px rgb(214, 214, 214) !important; border-radius: 20px;
    margin-bottom: 1rem;}
    .wrapper-step--card{  display: flex; padding: 1rem; 
        div{ margin-left: 2rem; }
        
        .step-number{ background-color:$main; border-radius:50%; padding-right: 0.5rem;padding-left: 0.5rem; color: white;
            position: absolute; left: -1.5rem;
            font-size: small;
            padding-top: 0.25rem; padding-bottom: 0.25rem;
        }
        .step-text{ justify-content: center; width: auto; font-weight: 600; }
}
}

.wrapper-restaurant{ padding-left: 3rem; padding-right: 3rem; background-color: rgb(240, 240, 240); padding-top: 2rem;padding-bottom: 2rem;}

.wrapper-restaurant--cards{    
}

.wrapper-card{ 
    margin-bottom: 2rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 4px 1px -2px rgb(165, 165, 165) !important;
    .wrapper-card--img{ 
        display: flex;
        .tag-new{ position: absolute; right: 4rem; 
            p{ 
                background-color: #99E2D0; padding: 0.5em; border-radius: 5px; color: #0e6350; font-weight: 600;
            }
        }
        img{ position:relative;width: 100%; height: fit-content; border-top-right-radius: 20px; border-top-left-radius: 20px;
            width: 100%;
            height: 180px;
            object-fit: cover;
        }
    } 
    .wrapper-card--content-text{ 
        display: flex;
    }
    .wrapper-card--text{ 
        width: 80%;
        padding-left: 1rem;
        .card-title{ h3{ margin-top: 1rem; margin-bottom: 0.2rem;} }
        .card-excerpt{  p{ margin-top: 0rem; } }

       
        .card-excerpt{ }
    }
    .wrapper-card--logo{ i { margin-top: 1rem; padding: 0.2rem; font-size: 2rem; } }
}

.wrapper-footer{ 
    padding:2rem;
    background-color: rgb(71, 71, 71);   
    .wrapper-footer-logo{ 
        padding-bottom: 1rem;
        .logo-footer{ width: 150px; }
    }
    .wrapper-footer-link{ 
        color: white;
    }
    .footer-link{ 
        display: flex;
        i{ height: fit-content; margin-top:1.1rem; margin-right: 0.75rem;}
        p{ margin-bottom: 0; }
    }
    
}
