.restaurant-carte{ 
body{ background-color:#f0f0f059;}
    .wrapper-background-img{ 
        max-width: 860px;
        margin-inline: auto;
        img{ 
            position:relative;
            width: 110%; 
            height: fit-content; 
            height: 280px;
            object-fit: cover;
        }
        overflow: hidden;
    }
    .wrapper-section-menu{ 
        max-width: 800px;
        margin-inline: auto;
        margin-top: -60px;
        background-color: rgb(238, 238, 238);
        position: relative;
        border-radius:3rem 3rem 0 0;
    }

    .restaurant-title{ 
        display: flex;
        h3{ margin: 0; font-size: 1.75rem;}
        align-items: center;
        display: flex;
        justify-content: space-between;
        i{   font-size: 1.5rem;}
    }
    
    .restaurant-subtitle{ 
        opacity:0;
        width: fit-content;
        animation: fadein 1s forwards;
        padding-top: 2rem;
        text-transform: uppercase;
        color: rgb(77, 77, 77);
        &:after{ 
            height: 3px;
            width: 50%;
            background-color: $stress;
            content: "";
            display: flex;
            margin-top: 0.25rem;
        }
    }
    
    .wrapper-meal{ 
        display: flex;
        opacity:0;
        animation: fadein 1s forwards 0.5s;
        background-color: white;
        border-radius: 15px;
        margin-top: 1rem;
        box-shadow:$bs;
        overflow: hidden;
        cursor:pointer;
        &:hover{ 
            .meal-card{  
                width: calc(100% - 80px);
                transition: width 1s;
            }
            .meal-text, .meal-title{ animation:shrink-text 1s ease-in-out forwards; }
            .valid i,.meal-price i{ animation:roll 0.75s ease-in-out forwards;}
            .valid{ 
                width: 60px;
                transition: width 1s;
            }
        }

    }
    .valid i{ animation:roll-out 0.5s ease-in-out forwards; } }

    .valid{ 
        width: 0%;
        transition: width  1s;
        height: 100%;
        position: absolute;
        right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: $stress;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        font-size: 2rem;
    }
    .meal-card{ 
        transition: width   1s;
        width: 100%;
        padding: 0.5rem;
    .meal-title,.meal-text{ animation:shrink-out-text 0.5s ease-in-out forwards; }
    .meal-title{ 
        padding: 0.25rem;
        font-weight: 600;
        width:80%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .meal-details{ 
        display: flex;
        justify-content: space-between;
        padding:0 0.25rem 0.25rem 0.25rem;
        .meal-text{ 
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 80%;
            font-size: 0.9rem;
        }
        .meal-price{ 
            font-weight: 600;
            color:rgb(79, 79, 79);
        }
    }
    button{ padding-right: 3rem;padding-left: 3rem;}
}

@for $i from 1 through 15 {
    .wrapper-meal:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.05}s;
    }
    .restaurant-subtitle:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.05}s;
    }
}

@keyframes fadein {
    from {
        opacity:0;
        transform: translateY(20px);
    }
    to {
        opacity:1;
        transform: translateY(0px);
    }
}

@keyframes display-in{ 
    from{ 
        transform: translateX(0px);

    }
    to{ 
        transform: translateX(-60px);

    }
}

@keyframes display-out{ 
    from{ 
        transform: translateX(-60px);

    }
    to{ 
        transform: translateX(60px);
    }
}
@keyframes shrink-text{ 
    from{ 
        width:80%;

    }
    to{ 
        width: calc(80% - (60px));
    }
}

@keyframes shrink-out-text{ 
    from{ 
        width: calc(80% - (60px));


    }
    to{ 
        width: 80%;
    }
}

@keyframes display-out-p{ 
    from{ 
        transform: translateX(-60px);

    }
    to{ 
        transform: translateX(0px);
    }
}
@keyframes roll{ 
    0% {  transform:  rotate(-360deg); }
    100% {  transform: rotate(0deg); } 
}
@keyframes roll-out{ 
    0% {  transform:  rotate(0); }
    100% {  transform: rotate(-360deg); } 
}